body{
    padding: 0;
    margin: 0;
    background-color: black;
}
.hero{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;

}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding-top: 45px;
    padding-left:8% ;
    padding-right: 8%;
}
.logo{
    color:white;
    font-size:35px ;
    letter-spacing: 1px;
    cursor: pointer;
}
.img2n{
    width:400px;
    height: 400px;
    float: right;
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
}
span{
    color:red;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;

}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}
.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);

}

  section {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  .img1{
      padding-left: 400px;
      padding-right: 400px;
      height: 200px;
  }
  .img2{
    padding-left: 400px;
    padding-right: 400px;
    height: 300px;
}
.img3{
    padding-left: 400px;
    padding-right: 400px;
    height: 300px;
}
.img4{
    height: 400px;
}